body {
	margin: 0;
	background: @background-color-default;
	font-family: 'Josefin Sans', sans-serif;
}

a {
	text-decoration: none;
}

menu {
	background: @background-color-menu;
	padding: 0rem 3.0rem 0;
	margin: 0;
	position: absolute;
	height: 100%;
	width: 9.0rem;
	
	ul {
		width: 100%;
		float: left;
		list-style: none;
		padding-top: 7.0rem;
		padding-left: 0;
		
		li {
			display: inline-block;
			text-transform: uppercase;
			font-weight: 300;
			width: 100%;
			
			a {
				float: left;
				color: @link-color-inactive;
				padding: 1.0rem 0;
			}
					
			a.active {
				color: @link-color-active;
			}
			
			span.update {
				margin-top: 0.65rem;
				margin-right: -3.25rem;
				float: right;
				padding: 0;
				padding-top: 0.2rem;
				font-size: 0.9rem;
				line-height: 1.3rem;
				border-radius: 0.2rem;
				text-align: center;
				width: 1.8rem;
				background: #f00;
				color: #fff;
				font-weight: 600;
			}
				span.update.blue {
					background: @update-color-blue;
				}

				span.update.red {
					background: @update-color-red;
				}
				
				span.update.green {
					background: @update-color-green;
				}
		}
	}
}

section#page {
	float: left;
	background: #eee;
	width: 100%;
	height: 100vh;
	
	header {
		background: @background-color-default;
		padding: 0.7rem 1.5rem 0.5rem 15.0rem;
		text-align: right;
		
		ul {
			padding: 0;
			margin: 0;
			list-style: none;
			
			li {
				display: inline;
				margin-left: 0.5rem;
				
				a.avatar {
					display: inline-block;
					height: 2.25rem;
					width: 2.25rem;
																	
					img {
						height: 2.25rem;
						width: 2.25rem;
						border-radius: 0.2rem;
					}
				}
				
				a {
					opacity: 0.25;
				}
				
				a.site {
					opacity: 1.0;
					text-transform: uppercase;
					color: #b4b4b4;
					font-size: 0.9rem;
					vertical-align: top;
					margin-top: 0.8rem;
					margin-right: 3.0rem;
					display: inline-block;
				}
				
				a.search {
					vertical-align: top;
					display: inline-block;
					background: #eee;
					width: 2.25rem;
					text-align: center;
					color: #666;
					padding: 0.6rem 0;
					border-radius: 0.2rem;
				}

				a.notif {
					vertical-align: top;
					display: inline-block;
					background: @update-color-green;
					width: 2.25rem;
					text-align: center;
					color: @background-color-default;
					padding: 0.6rem 0;
					border-radius: 0.2rem;
				}
			}
		}
	}
	
	header:hover > ul li a {
		opacity: 1.0;
		animation: all 0.2s;
	}
}